body {
  margin: 0;
  padding: 0;
}

.menu {
  width: 75%;
  background-color: darkred;
  padding: 15px;
  margin: 0 auto;
}

.menu a:link, a:visited {
  color: white;
}

.menu a:hover, a:active {
  color: yellow;
}

.container {
  font-size: 28px;
  width: 70%;
  background-color: palevioletred;
  margin: 0 auto;
  padding: 20px;
}